@import "./normalize.scss", "./text.scss";

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

ul.posts {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  h3.post-title {
    margin: 0;
  }
}

.post-title {

  .tags {
    > *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  > h1 {
    margin-bottom: 0.4rem;
    margin-right: -1rem;
  }

  margin-bottom: 3rem;
}

.footer-rule {
  margin-top: 4rem;
}

.related-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  text-align: center;

  > .link {
    flex-shrink: 0;
    padding: 1rem;
    box-sizing: border-box;
    width: 50%;
  }
}

.footer-about {
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
}

img {
  max-width: 100%;
  margin: auto;
}

.taxonomy-name {
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: var(--accent-color);
  color: var(--accent-overlay-color);
  text-align: left;
}

table th,
table td {
    padding: 10px 12px;
}

table tbody tr {
    border-bottom: 1px solid var(--table-border-bottom);
}

table tbody tr:nth-of-type(even) {
    background-color: var(--table-bg-even);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--accent-color);
}

code {
  padding: 0 0.2rem;
}

form.possum-example {
  --success-fg: var(--accent-color);
  --success-bg: #f4fff4;
  --failure-fg: #ff6b66;
  --failure-bg: #fff5f7;
  --input-focus-color: #ff89c0;
  --button-bg: #fdec66;
  --button-active-bg: #ffeb4d;

  width: 100%;
  margin: 2rem 0 3rem 0;

  .inputs-row {
    display: flex;
    flex-direction: row;
  }

  &.large label.input {
    textarea {
      border-bottom-width: 1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.large label.parser {
    textarea {
      border-top-width: 1px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &.small label.input {
    width: calc(100% - 270px);
    height: 60px;

    input[type=text] {
      border-right-width: 1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus {
        z-index: 8;
      }
    }
  }

  &.small label.parser {
    height: 60px;

    input[type=text] {
      border-left-width: 1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  label.success {
    pre {
      background-color: var(--success-bg);
      border-color: var(--success-fg);
    }

    .label-text {
      color: var(--success-fg);
      background: linear-gradient(0deg, var(--success-bg) 0%, var(--success-bg) 50%, white 50%);
    }

    .reset {
      color: var(--success-fg);
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
  }

  label.failure {
    pre {
      background-color: var(--failure-bg);
      border-color: var(--failure-fg);
    }

    .label-text {
      color: var(--failure-fg);
      background: linear-gradient(0deg, var(--failure-bg) 0%, var(--failure-bg) 50%, white 50%);
    }

    .reset {
      color: var(--failure-fg);
      text-decoration: underline;
      text-underline-offset: 0.2rem;
    }
  }

  label {
    position: relative;
    display: flex;
    width: 100%;
  }

  label.output:not(:empty) {
    margin-top: 1rem;
  }

  .reset {
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1rem;
  }

  .label-text {
    position: absolute;
    color: #353535;
    left: 1.2em;
    top: -0.75em;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    cursor: pointer;
    background: white;
    border-radius: 8px;
    z-index: 10;
  }

  input[type=text] {
    width: 100%;
    font-family: monospace, monospace;
    font-size: 1.25rem;
    padding: 0.8em 1em;
    border: 2px solid gray;
    border-radius: 16px;

    &:focus {
      z-index: 3;
      outline-color: var(--input-focus-color);
      outline-width: 3px;
      outline-style: solid;
      outline-offset: -2px;
    }

    &.parser {
      padding-right: calc(1em + 70px);
    }
  }

  textarea {
    width: 100%;
    font-family: monospace, monospace;
    font-size: 1.25rem;
    padding: 1.2em 1em;
    border: 2px solid gray;
    border-radius: 16px;
    resize: vertical;
    white-space: pre;

    &:focus {
      z-index: 3;
      outline-color: var(--input-focus-color);
      outline-width: 3px;
      outline-style: solid;
      outline-offset: -2px;
    }
  }

  pre {
    width: 100%;
    font-size: 1.25rem;
    font-family: monospace, monospace;
    line-height: 1.2em;
    padding: 16px 48px 16px 16px;
    margin: 0;
    border: 2px solid gray;
    border-radius: 16px;

    display: block;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  input[type="submit"] {
    background-color: var(--button-bg);
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 0.8em;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    width: 70px;
    right: 2px;
    top: 2px;
    height: 56px;
    border-radius: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 5;

    &.large {
      border-radius: 16px;
      right: 8px;
      top: unset;
      bottom: 8px;
    }

    &:hover, &:active {
      background-color: var(--button-active-bg);
    }
  }

  .fade-in { animation: fadeIn 0.5s; }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

@media (max-width: 880px) {
  form.possum-example {
    pre {
      font-size: 1rem;
    }

    .reset {
      bottom: 0.9rem;
    }
  }

  form.possum-example.small {
    .inputs-row {
      display: flex;
      flex-direction: column;
    }

    label.input {
      width: 100%;

      input[type=text] {
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    label.parser {
      input[type=text] {
        border-width: 2px;
        border-top-width: 1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }

    input[type=text] {
      font-size: 1rem;
      padding: 1.2em 1em;
      &.parser {
        padding-right: calc(0.5em + 60px);
      }
    }

    input[type="submit"] {
      border-radius: 14px;
      height: 48px;
      width: 60px;
      right: 6px;
      top: unset;
      bottom: 6px;
    }
  }

  form.possum-example.large {
    textarea {
      font-size: 1rem;
    }

    input[type="submit"] {
      border-radius: 14px;
      height: 48px;
      width: 60px;
      right: 6px;
      top: unset;
      bottom: 6px;
    }
  }
}
